<script src="{{ base_path }}/assets/js/main.min.js"></script>
{% if page.layout == "wiki" %}
  {% assign wiki_asset_version = site.time | date: "%s" %}
  {% if page.url == "/wiki/" %}
    <script src="{{ base_path }}/assets/js/wiki-search.js?v={{ wiki_asset_version }}"></script>
  {% endif %}
  <script src="{{ base_path }}/assets/js/wiki-preview.js?v={{ wiki_asset_version }}"></script>
  <script src="{{ base_path }}/assets/js/wiki-sidebar-toc.js?v={{ wiki_asset_version }}"></script>
{% endif %}

{% include analytics.html %}
{% include /comments-providers/scripts.html %}
